<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quranmentor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Optional permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For devices running Android 12 (API level 32) or higher and integrating Agora Video SDK version v4.1.0 or lower, you also need to add the following permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- For Android 12.0 or higher, the following permissions are also required -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuranMentor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.Feedback_Teach"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfile_Teacher"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfile_stu"
            android:exported="false" />
        <activity
            android:name=".activities.ShowProgressDetail"
            android:exported="false" />
        <activity
            android:name=".activities.ShowList_PR"
            android:exported="false" />
        <activity
            android:name=".activities.Voice_call"
            android:exported="false" />
        <activity
            android:name=".activities.ProgressReport_Gen"
            android:exported="true" />
        <activity
            android:name=".activities.PDF_View_Activity"
            android:exported="false" />
        <activity
            android:name=".activities.TajweedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QiblaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PrayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.completeSurah"
            android:exported="false" />
        <activity
            android:name=".activities.QuranActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPassward"
            android:exported="false" />
        <activity
            android:name=".activities.ScheduleClass"
            android:exported="false" />
        <activity
            android:name=".activities.Feedback"
            android:exported="false" />
        <activity
            android:name=".activities.ChatsList"
            android:exported="true" />
        <activity
            android:name=".activities.PaymentGateway"
            android:exported="false" />
        <activity
            android:name=".activities.chatsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.TeacherDetail"
            android:exported="false" />
        <activity
            android:name=".activities.OTP_Activity"
            android:exported="false" />
        <activity
            android:name=".activities.Sign_up"
            android:exported="true" />
        <activity
            android:name=".activities.Login"
            android:exported="true"></activity>
        <activity
            android:name=".activities.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.teacher_dashboard"
            android:exported="true" />
        <activity
            android:name=".activities.student_dashboard"
            android:exported="true" />

        <service
            android:name=".models.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>